@charset "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,
        Arial, sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
    margin: 100px;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
    background-color: #f2f2f2;
}

tr.row0 {
    background-color: #ffffff;
}

select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employee_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}

.regi_top_item {
    padding: 0.5em 1em;
    width: 150px;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}


.regi_top_item a {
    margin: 0;
    padding: 0;
}

table#package_insert_list th {
    font-weight: bold;
    padding: 10px 2%
}

table#package_insert_list .packgeInsert_general_name {
    width: 20%;
    padding: 10px 2%;
}

table#package_insert_list .packgeInsert_device_name {
    width: 20%;
}

table#package_insert_list .packgeInsert_actione {
    width: 13%;
}

table#csv_list {
    word-wrap: break-word;
    table-layout: fixed;
    font-size: 12px;
}

.csvPack_approval_number{
    width:170px;
}

.csvPack_JMDN_code{
    width:120px;
}

table#patientDevice_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#patientDevice_list .patientDevice_patient_id {
    width: 15%;
}

table#patientDevice_list .patientDevie_patient_name {
    width: 15%;
}

table#patientDevice_list .patientDevice_generalName {
    width: 20%;
}

table#patientDevice_list .patientDeviec_deviceName {
    width: 20%;
}

table#patientDevice_list .patientDevice_implantedAt {
    width: 15%;
}

table#patientDevice_list .patientDeviec_action {
    width: 10%;
}

input[name="device_name"] {
    width: 40%
}

table#patientExam_list th {
    font-weight: bold;
    padding: 10px 2%;
}

ul#examination_condition {
    background-color:#FFEFEF;
    color:#C25338;
    margin:0 0 1em 0; padding:10px;
    border:1px solid #D4440D;
    line-height:1.5;
    clear:both;
    background-repeat:no-repeat;
    background-position:5px 5px;
    font-weight:1000 ;
    border-left: solid 6px #e03e18;
    list-style-type: none!important;
}

ul#notSafe_count {
    background-color:#d0effa;
    color:#0973fe;
    margin:0 0 1em 0; padding:10px;
    border:1px solid #0828f4;
    line-height:1.5;
    clear:both;
    background-repeat:no-repeat;
    background-position:5px 5px;
    font-weight:1000 ;
    border-left: solid 6px #0fa0cd;
    list-style-type: none!important;
}



#search_item_patId {
    width: 100%;
    line-height: 20px;
    text-align: center;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    background-color: #1399b347;
}
#search_item {
    margin: 8px;
    padding: 8px;
    line-height: 20px;
    text-align: center;
}
#search_patId {
    margin: 8px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
  background-color: #57b1e9fc;

}


table#search_list_by_patient .search_general_name {
    width: 15%;

}

table#search_list_by_patient .search_device_nam {
    width: 20%;
}

table#search_list_by_patient .search_implantedAt {
    width: 15%;
}

table#search_list_by_patient .search_acceptability_of_exam {
    width: 50%;
}



table#search_list_by_patient th {
    font-weight: bold;
    padding: 10px 2%;
    text-align: center;
}

