@charset "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,
        Arial, sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 32px;
    display: inline;
}

h2 {
    font-size: 28px;
    margin-bottom: 7px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
    margin: 100px;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#employeeList th {
    width: 30%;
    padding: 10px 2%;
}

table#employeeList td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
    background-color: #f2f2f2;
}

tr.row0 {
    background-color: #ffffff;
}

select {
    height: 30px;
}

#headerMenu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employeeName {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}

.regiTopItem {
    padding: 0.5em 1em;
    width: 150px;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}


.regiTopItem a {
    margin: 0;
    padding: 0;
}

table#packageInsertList th {
    font-weight: bold;
    padding: 10px 2%
}

table#packageInsertList .packgeInsertGeneralName {
    width: 20%;
    padding: 10px 2%;
}

table#packageInsertList .packgeInsertDeviceName {
    width: 20%;
}

table#packageInsertList .packgeInsertActione {
    width: 13%;
}

table#csvList {
    word-wrap: break-word;
    table-layout: fixed;
    font-size: 12px;
}

.csvPackApprovalNumber{
    width:170px;
}

.csvPackJmdnCode{
    width:120px;
}

table#patientDeviceList th {
    font-weight: bold;
    padding: 10px 2%;
}

table#patientDeviceList .patientId {
    width: 10%;
}

table#patientDeviceList .patientName {
    width: 15%;
}

table#patientDeviceList .generalName {
    width: 20%;
}

table#patientDeviceList .deviceName {
    width: 25%;
}

table#patientDeviceList .implantedAt {
    width: 15%;
}

table#patientDeviceList .patientDeviceAction {
    width: 10%;
}

input[name="generalName"] {
    width: 40%
}

input[name="deviceName"] {
    width: 40%
}

table#patientExamList th {
    font-weight: bold;
    padding: 10px 2%;
}

ul#examinationCondition {
    background-color:#FFEFEF;
    color:#C25338;
    margin:0 0 1em 0; padding:10px;
    border:1px solid #D4440D;
    line-height:1.5;
    clear:both;
    background-repeat:no-repeat;
    background-position:5px 5px;
    font-weight:1000 ;
    border-left: solid 6px #e03e18;
    list-style-type: none!important;
}

ul#notSafeCount {
    background-color:#d0effa;
    color:#0973fe;
    margin:0 0 1em 0; padding:10px;
    border:1px solid #0828f4;
    line-height:1.5;
    clear:both;
    background-repeat:no-repeat;
    background-position:5px 5px;
    font-weight:1000 ;
    border-left: solid 6px #0fa0cd;
    list-style-type: none!important;
}



#searchItemPatId {
    width: 100%;
    line-height: 20px;
    text-align: center;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    background-color: #1399b347;
}
#searchItem {
    margin: 8px;
    padding: 8px;
    line-height: 20px;
    text-align: center;
}
#searchPatId {
    margin: 4px;
    padding: 20px 10px 5px 30px;
    width: 300px ;
    line-height: 20px;
    text-align: left;
    background-color: #a7d6f3;
    border-radius: 10px;
}

#searchAppNum {
    margin: 4px;
    padding: 20px 10px 5px 30px;
    width: 300px ;
    line-height: 20px;
    text-align: left;
    background-color: #a7d6f3;
    border-radius: 10px;
}


table#searchListByPatient .generalName {
    width: 15%;

}

table#searchListByPatient .deviceName {
    width: 20%;
}

table#searchListByPatient .implantedAt {
    width: 15%;
}

table#searchListByPatient .searchDeviceAcceptabilityOfExam {
    width: 50%;
}



table#searchListByPatient th {
    font-weight: bold;
    padding: 10px 2%;
    text-align: center;
}


table#searchListAllExam .generalName {
    width: 15%;

}

table#searchListAllExam .approvalNum {
    width: 16%;
    overflow-wrap: break-word;
}

table#searchListAllExam .deviceName {
    width: 17%;
}

table#searchListAllExam .implantedAt {
    width: 13%;
}

table#searchListAllExam .searchDeviceAcceptabilityOfExam {
    width: 40%;
}

table#searchListAllExam th {
    font-weight: bold;
    padding: 10px 2%;
    text-align: center;
}

.searchPatient {
    display: flex;
    margin-bottom: 10px;

}

.searchPatientId {
    width: 180px;
    height: 35px;
    line-height:40px;


}

.searchPatientName {
    width: 200px;
    height: 35px;
}

#packageInsertAcceptabilityOfExam {
    font-size: 20px;
}
